################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AuthenOrization/.vs/AuthenOrization/FileContentIndex
/AuthenOrization/.vs/AuthenOrization/DesignTimeBuild
