################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AuthenOrization/.vs/AuthenOrization/FileContentIndex
/AuthenOrization/.vs/AuthenOrization/DesignTimeBuild
/AuthenOrization/.vs
/AuthenOrization/AuthenOrization/obj/Debug/net8.0/apphost.exe
/AuthenOrization/AuthenOrization/obj/Debug/net8.0/AuthenOrization.AssemblyInfo.cs
/AuthenOrization/AuthenOrization/obj/Debug/net8.0/AuthenOrization.AssemblyInfoInputs.cache
/AuthenOrization/AuthenOrization/obj/Debug/net8.0/AuthenOrization.csproj.FileListAbsolute.txt
/AuthenOrization/AuthenOrization/obj/Debug/net8.0/AuthenOrization.dll
/AuthenOrization/AuthenOrization/obj/Debug/net8.0/AuthenOrization.pdb
/AuthenOrization/AuthenOrization/obj/Debug/net8.0/AuthenOrization.sourcelink.json
/AuthenOrization/AuthenOrization/obj/Debug/net8.0/refint/AuthenOrization.dll
/AuthenOrization/AuthenOrization/obj/Debug/net8.0/ref/AuthenOrization.dll
/AuthenOrization/AuthenOrization/bin/Debug/net8.0/AuthenOrization.dll
/AuthenOrization/AuthenOrization/bin/Debug/net8.0/AuthenOrization.exe
/AuthenOrization/AuthenOrization/bin/Debug/net8.0/AuthenOrization.pdb
*.TMP
